##  Pandas

### Завдання

**1.Створіть датафрейм розміром 15х5, що містить наступні дані:**

а) ім'я та прізвище студента;

б) середній бал;

в) оцінка за поточний екзамен;

г) кількість спроб здачі поточного екзамену.

**2.Додайте до датафрейму стовпчик, що містить дані про допуск студента на наступний курс.**

**3.Виведіть мінімальний, максимальний, середній та медіанний показники середнього балу студентів.**

**4.Виведіть кількість студентів, що здали поточний екзамен з першого разу.**

**5.Збережіть будь-які дані з датафрейму у вигляді серії.**


### Розв'язок

In [12]:
import pandas as pd

**1.Датафрейм розміром 15х5.**

In [47]:
student_progress = pd.read_excel("dz32.xlsx")
student_progress

,Ім'я та прізвище студента,Середній бал,Оцінка за поточний екзамен,Кількість спроб здачі поточного екзамену
0,Антонюк Антон,87.5,90,1
1,Білоус Дмитро,80.5,85,1
2,Вечеровська Людмила,60.0,65,2
3,Головань Олександр,59.5,65,2
4,Данішевський Вадим,94.5,90,1
5,Залеська Олена,75.5,85,1
6,Іванов Олександр,90.5,95,1
7,Іващенко Валентина,92.5,95,1
8,Карпач Сергій,67.5,75,2
9,Костюченко Світлана,80.0,85,1
10,Орлова Олена,95.5,100,1
11,Радько Денис,70.5,65,3
12,Скиба Валентина,95.5,100,1
13,Тищенко Іван,55.0,60,2
14,Шилан Віталій,74.5,80,1

**2.Додатковий стовпчик, що містить дані про допуск студента на наступний курс.**

In [48]:
average_point = student_progress["Середній бал"].tolist()
print(average_point)

[87.5, 80.5, 60.0, 59.5, 94.5, 75.5, 90.5, 92.5, 67.5, 80.0, 95.5, 70.5, 95.5, 55.0, 74.5]

In [50]:
permit = []
for value in average_point:
    if value < 60:
        permit.append("Недопуск")
    else:
        permit.append("Допуск")

In [51]:
student_progress["Допуск на наступний курс"] = permit
student_progress

,Ім'я та прізвище студента,Середній бал,Оцінка за поточний екзамен,Кількість спроб здачі поточного екзамену,Допуск на наступний курс
0,Антонюк Антон,87.5,90,1,Допуск
1,Білоус Дмитро,80.5,85,1,Допуск
2,Вечеровська Людмила,60.0,65,2,Допуск
3,Головань Олександр,59.5,65,2,Недопуск
4,Данішевський Вадим,94.5,90,1,Допуск
5,Залеська Олена,75.5,85,1,Допуск
6,Іванов Олександр,90.5,95,1,Допуск
7,Іващенко Валентина,92.5,95,1,Допуск
8,Карпач Сергій,67.5,75,2,Допуск
9,Костюченко Світлана,80.0,85,1,Допуск
10,Орлова Олена,95.5,100,1,Допуск
11,Радько Денис,70.5,65,3,Допуск
12,Скиба Валентина,95.5,100,1,Допуск
13,Тищенко Іван,55.0,60,2,Недопуск
14,Шилан Віталій,74.5,80,1,Допуск

**3.Мінімальний, максимальний, середній та медіанний показники середнього балу студентів.**

In [52]:
student_progress["Середній бал"].agg(['min','max', 'mean', 'median'])

min       55.0
max       95.5
mean      78.6
median    80.0
Name: Середній бал, dtype: float64

**4.Кількість студентів, що здали поточний екзамен з першого разу.**

In [53]:
print(f'{len(student_progress[student_progress["Кількість спроб здачі поточного екзамену"]==1])} студентів здало екзамен з першого разу')

10 студентів здало екзамен з першого разу

**5.Серія з датафрейму.**

Ім'я та прізвище студента

In [46]:
print("Список студентів")
spisok = student_progress[("Ім'я та прізвище студента")]
spisok

Список студентів

0           Антонюк Антон
1           Білоус Дмитро
2     Вечеровська Людмила
3      Головань Олександр
4      Данішевський Вадим
5          Залеська Олена
6        Іванов Олександр
7      Іващенко Валентина
8           Карпач Сергій
9     Костюченко Світлана
10           Орлова Олена
11           Радько Денис
12        Скиба Валентина
13           Тищенко Іван
14          Шилан Віталій
Name: Ім'я та прізвище студента, dtype: object